* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.table {
  margin: 0 auto;
}
.products {
  /* display: flex; */
  padding: 0 20px;
}
.products p {
  text-align: center;
}
.products-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}
.cart-item {
  max-width: 300px;
  min-width: 300px;
  border: 1px solid lightgray;
  border-radius: 7px;
  padding: 10px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.083);
}
.cart-item img {
  width: 100%;
  height: 300px;
}
.container {
  margin: auto;
}

@media (max-width: 768px) {
  .cart-item {
    min-width: 100%;
  }
  .cart-item img {
    height: 100%;
  }
}
