@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@700&display=swap");
@font-face {
  font-family: "Plov";
  src: url("./Fonts/Plov.ttf") format("truetype"),
    url("./Fonts/plov-webfont.woff2") format("woff2"),
    url("./Fonts/plov-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

#PlovFont {
  font-family: "Plov";
  font-weight: bold;
  font-style: normal;
}
