@font-face {
  font-family: 'Alegreya';
  src: url('./Alegreya-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plovdiv Display';
  src: url('./PlovdivDisplay-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BrushType';
  src: url('./BrushType-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cleopatra';
  src: url('./Cleopatra.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
