@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@700&display=swap');

@font-face {
  font-family: 'Plovdiv Display';
  src: url('./Plovdiv-Display/PlovdivDisplay-Bold.eot');
  src: url('./PlovdivDisplay/PlovdivDisplay-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('./Plovdiv-Display/PlovdivDisplay-Bold.woff2') format('woff2'),
    url('./Plovdiv-Display/PlovdivDisplay-Bold.woff') format('woff'),
    url('./Plovdiv-Display/PlovdivDisplay-Bold.ttf') format('truetype'),
    url('./Plovdiv-Display/PlovdivDisplay-Bold.svg#PlovdivDisplay-Bold')
      format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BrushType';
  src: url('./BrushType-SemiBold/');
  src: url('./BrushType-SemiBold/?#iefix') format('embedded-opentype'),
    url('./BrushType-SemiBold/BrushType-SemiBold.woff2') format('woff2'),
    url('./BrushType-SemiBold/BrushType-SemiBold.woff') format('woff'),
    url('./BrushType-SemiBold/BrushType-SemiBold.ttf') format('truetype'),
    url('./BrushType-SemiBold/BrushType-SemiBold.svg#BrushType-SemiBold')
      format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cleopatra';
  src: url('./Cleopatra/');
  src: url('./Cleopatra/?#iefix') format('embedded-opentype'),
    url('./Cleopatra/Cleopatra.woff2') format('woff2'),
    url('Cleopatra.woff') format('woff'),
    url('./Cleopatra/Cleopatra.ttf') format('truetype'),
    url('./Cleopatra/Cleopatra.svg#Cleopatra') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
